// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$grey: #9c9c9c;

// For project:
$dark: #111111;
$light-coral: #C0254B;
$dark-coral: #6D162E;
$greeny: #5CA296;
$bright: #DFB932;
$pine: #204A32;
$bronze: #975B53;
