.dash-welcome-header {
  margin-bottom: 24px;
}

.dash-main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.dash-accounts, .dash-goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.accounts-chart, .goals-chart {
  height: 500px;
  width: 100%;
}