.goal-body {
  flex-wrap: nowrap;
  justify-content: center;
}

.dash-container {
  margin: 0 !important;
  max-width: 100% !important;
}

.dash-welcome-header {
  margin-bottom: 50px;
}

.dash-main {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.dash-card {
  width: 100% !important;
}

.dash-accounts, .dash-goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0 50px;
}

.accounts-chart, .goals-chart {
  height: 500px;
}