html, body {
  height: 100%;
  width: 100%;
}

body {
  display: table;
}

.card {
  width: 20%;
  height: 300px;
}

.card-group {
  justify-content: space-around;
  position: absolute;
  top: 60vh;
  left: 6.5vw;
}

.card-image {
  width: 25vw;
  height: 35vh;
  object-fit: cover;
  border-radius: 4%;
  border: 4px solid $dark;
  position: relative;
  margin-right: 5vw;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.features-layout {
display: flex;
justify-content: center;
margin-top:80px;
}

.features-list{
  margin-right: 20px;
}

.features-images{
width: 40%;
}

.embed {
  width: 400px;
  height: 200%;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}

.carousel-item{
  height: 100vh;
}

.banner {
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.catchline {
  position: absolute;
  bottom: 50vh;
  left: 14vw;
}

.homepage_logo {
  position: absolute;
  top: 4vh;
  left: 2vw;
  z-index:2;
}

.homepage_logo img {
  width: 24vw;
}

.d-block img {
  background: rgba(0, 0, 0, 0.5);
}
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
