<div class="container pt-4 text-center">
  <h1><%= current_user.first_name %>, here are some articles for you: </h1>
</div>
<div class="account-transactions m-3">
  <img src="https://github.com/IrinaStaric/fin-man-pictures/blob/main/article_5.jpg?raw=true" alt="Responsive image" style="width: 36vw; margin-right: 16px;">
  <div class="card_article-content w-70 d-flex flex-column align-items-center">
    <h1 class="card_content-title">The Rule of 72: How To Double Your Money</h1>
    <p class="card_content-paragraph">
      If you have money in a savings account with 2% interest a year, it’ll take roughly 36 years to double your money (72/2 = 36). However, if you have money in an account that generates higher returns, like an investment account, that you expect will average 6% a year, it will only take 12 years for your money to double (72/6 = 12).This calculation assumes that any money earned in interest over time is reinvested. This rule, therefore, works because of the power of compounding – i.e when money earned through interest is reinvested to make you more money.
    </p>
    <p class="card-text"><small class="text-muted">Last updated 3 hours ago</small></p>
  </div>
</div>

<div class="account-transactions m-3">
  <img src="https://images.unsplash.com/photo-1523540939399-141cbff6a8d7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZmluYW5jZSUyMCUyMHRpcHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Responsive image" style="width: 36vw; margin-right: 16px;">
  <div class="card_article-content w-70 d-flex flex-column align-items-center">
    <h1 class="card_content-title">Setting Better Financial Goals</h1>
    <p class="card_content-paragraph">
      Setting financial goals is just one way you can begin to take control of your money. Some people even believe that it is the key to financial success. Having financial goals to work towards gives you focus, and often helps control how you’re spending your money day to day. For example, if your financial goal is to save £2,000 for a holiday in six months’ time, you’re less likely to mindlessly spend money on items that don’t help you achieve this goal. Likewise, if your goal is to start an Emergency Fund, or reduce your debt...
    </p>
    <p class="card-text"><small class="text-muted">Last updated August 17, 2021</small></p>
  </div>
</div>

<div class="account-transactions m-3">
  <img src="https://images.unsplash.com/photo-1495996797143-9fc04e79e304?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE5fHxmaW5hbmNlJTIwJTIwdGlwc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Responsive image" style="width: 36vw; margin-right: 16px;">
  <div class="card_article-content w-70 d-flex flex-column align-items-center">
    <h1 class="card_content-title">Six Fun Money Saving Challenges</h1>
    <p class="card_content-paragraph">
      The 365 Day Challenge: Transferring a small amount of money to your savings each day can be an effective way to start building wealth.  Saving in this way also means you won’t have to dramatically alter your daily lifestyle/ spending habits. With the 365 day challenge, set up a daily standing order so your bank automatically transfers money into a separate savings account. If you decide to save £1 a day, that’s £365 a year you could save without really noticing it. Choose to do £2 a day, that’s £730 you could be saving each year!
    </p>
    <p class="card-text"><small class="text-muted">Last updated July 10, 2021</small></p>
  </div>
</div>

<div class="account-transactions m-3">
  <img src="https://images.unsplash.com/photo-1596082161404-23a1d3f86236?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2710&q=80" alt="Responsive image" style="width: 36vw; margin-right: 16px;">
  <div class="card_article-content w-70 d-flex flex-column align-items-center">
    <h1 class="card_content-title">How To Improve Your Credit Score</h1>
    <p class="card_content-paragraph">
      A credit score is a numerical number used by lenders to identify whether you qualify for loans, credit cards, or mortgages. The main purpose of a credit score is to help determine what kind of borrower you are, which is why there is so much focus on sharing ways to improve your credit score. A high credit score means you are likely to be a good borrower. Whereas a low credit score highlights that you may be a poor borrower, and as such might have issues managing your repayments. Fin-Man can help you keep track of all your credit card payments and bills...
    </p>
    <p class="card-text"><small class="text-muted">Last updated June 19, 2021</small></p>
  </div>
</div>

<div class="account-transactions m-3">
  <img src="https://github.com/IrinaStaric/fin-man-pictures/blob/main/article_4.jpg?raw=true" alt="Responsive image" style="width: 36vw; margin-right: 16px;">
  <div class="card_article-content w-70 d-flex flex-column align-items-center">
    <h1 class="card_content-title">The Best Books About Investing</h1>
    <p class="card_content-paragraph">
      We asked four finance experts to name their favourite books about investing. Each of these books will help you learn a great deal about finance and investing, and will provide crucial insights for anyone looking to up their game! Written by some of the most respected investors in the world, there’s no doubt that reading these books will help you invest your money more wisely. The knowledge gained from these books will no doubt help with your long term investment success. If you’re thinking about investing in one of these books...
    </p>
    <p class="card-text"><small class="text-muted">Last updated May 17, 2021</small></p>
  </div>
</div>

<div class="account-transactions m-3">
  <img src="https://github.com/IrinaStaric/fin-man-pictures/blob/main/article_6.jpg?raw=true" alt="Responsive image" style="width: 36vw; margin-right: 16px;">
  <div class="card_article-content w-70 d-flex flex-column align-items-center">
    <h1 class="card_content-title">What Is Compound Interest?</h1>
    <p class="card_content-paragraph">
      Compound interest is a financial term that you may have heard being thrown around. But, what does it actually mean, and why is it so important? Whether you have savings, investments, or debts, understanding compound interest is vital because it could massively impact your finances. Either positively, or negatively.
      With compound interest, you then earn money from the interest you’ve made. Therefore, every year that your money is in a savings account, you will be earning interest on a previous year’s interest. 
    </p>
    <p class="card-text"><small class="text-muted">Last updated February 10, 2021</small></p>
  </div>
</div>
