<h1>Welcome to your Dashboard!</h1>
<div>
  <p>You have <%= @accounts.count %> accounts in total.</p>
</div>
<div>
  <p>Your <%= @goals.count %> goals are the following:</p>
  <% @goals.each do |g| %>
    <p> - <%= g.name %></p>
  <% end %>
</div>
