.card-title-category {
  font-size: 36px;
  color: $dark-coral;
  margin-top: 6px;
}

.account-card {
  padding: 15px;
  margin: 15px;
  border: $dark 4px solid;
  background-color: #68142d;
  border-radius: 5px;
  width: 350px;
  height: 250px;
  text-decoration: none;
}

.card-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.account-details {
  padding: 15px;
  margin: 10px 0px;
  border: $dark-coral 2px solid;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  text-decoration: none;
  color: $dark-coral;
}

.details-card-title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: $dark-coral;
}

.details-card-text {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.account-transactions {
  display: flex;
  justify-content: left;
  font-size: 20px;
  color: $pine;
  padding: 15px;
  margin: 10px 0px;
  border: $pine 2px solid;
  border-radius: 5px;
  width: 100%;
}

.transacitons-attr {
  display: flex;
  margin-right: 10px;
  color: $greeny;
}

a:hover {
  text-decoration: none;
}
