.goal-card {
  border-radius: 5px;
  margin: 15px 0px;
}

.goal-img-container {
  padding: 0;
  text-align: left;
  max-width: 200px !important;
}

.goal-img-container > .goal-img {
  border: rgb(145, 145, 145) 0.5px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  max-width: 200px;
}