.goal-card {
  border-radius: 5px;
  margin: 15px 0px;
}

.goal-img-container {
  padding: 0;
  text-align: left;
  max-width: 200px !important;
}

.goal-img-container > .goal-img {
  border: rgb(145, 145, 145) 0.5px solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  max-width: 200px;
}

.account-card {
  padding: 15px;
  border: $dark-coral 2px solid;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  text-decoration: none;
}

.card-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

a:hover {
  text-decoration: none;
}
