.form-container {
  width: 570px;
  height: 700px;
  position: relative;
  left: 23.5vw;
}

input[type = "submit"] {
  color: antiquewhite;
}

input[type = "submit"]:hover {
  color: $dark-coral;
  transition: 0.25s;
  background-color: rgb(240, 207, 218);
  border: 1px solid antiquewhite;
}

.btn-primary:hover {
  color: $dark-coral;
  transition: 0.25s;
  background-color: rgb(240, 207, 218);
  border: 1px solid antiquewhite;
}
