.navbar-lewagon {
  background-color: $dark-coral;
  color: antiquewhite;
}

ul a:hover {
  color: $light-coral;
  transition: 0.3s;
}

.navbar-lewagon p {
  color: antiquewhite;
  font-size: 1.2rem;
  padding-top: 6px;
}

.navbar-lewagon a {
  color: antiquewhite;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 100%;
  margin-bottom: 18px;
}

.navbar-lewagon li {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 8px;
}

.dropdown li {
  list-style-type: none;
  margin-right: 16px;
}

.dropdown-menu {
  background-color: $dark;
  border: 2px solid $dark-coral;
}

.nav li {
  font-size: 1.5rem;
}

.nav p {
  font-size: 1.5rem;
}