.navbar-lewagon {
  background-color: $dark-coral;
  color: antiquewhite;
}

.navbar-lewagon a:hover {
  color: $light-coral;
}

.navbar-lewagon p {
  color: antiquewhite;
}

.navbar-lewagon a {
  color: antiquewhite;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 100%;
}

.navbar-nav li a {
  color: $light-coral !important;
}
