// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";

// Alerts

body {
  margin: 0;
}

.alert-warning {
  color: black;
  background-color: $bright !important;
}

.alert-info {
  color: black;
  background-color: $greeny !important;
}

